@page
@model IndexModel
@{
    ViewData["Title"] = "Fizz Buzz";
}
<div class="text-center">
    <span asp-validation-for="FizzBuzz.Number" class="text-danger"></span>
    <h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <label asp-for="FizzBuzz.Number"></label>
        <input asp-for="FizzBuzz.Number" /><br />
        <button type="submit">Zatwierdź</button>
    </form>
    @if (Model.Result == "FizzBuzz" || Model.Result == "Fizz" || Model.Result == "Buzz" || Model.Result == "FizzBuzz" || Model.Result == "Liczba " + Model.FizzBuzz.Number + " nie spełnia warunkow FizzBuzz")
    {
        <div class="alert alert-danger" role="alert">
            @Model.Result
        </div>
    }
</div>
